.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show {
  -webkit-line-clamp: unset;

}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button{
  margin-top: 10px;
}
