.search {
  position: relative;
  display: flex;
  width: 100%;
}

.label {
  width: 100%;
}

.input {
  width: 100%;
  outline: none;
  padding: 20px 20px 10px;
  border-bottom: 2px solid var(--black);
  transition: border 0.5s;

  &:focus, &:active {
    border-color: var(--accent);

    & ~ .svg path {
      fill: var(--accent);
    }
  }
}

.svg {
  position: absolute;
  width: 32px;
  right: 12px;
  top: 0;

  path {
    transition: fill 0.5s;
    fill: var(--black);
  }
}
