@import url('https://fonts.googleapis.com/css2?family=Prata&family=Raleway:wght@300;400;500;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: color 0.3s;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border-radius: 0;
  background-color: inherit;
  padding: 0;
  border: none;
}

button {
  border: none;
  cursor: pointer;
}

::selection {
  background: var(--black);
  color: white;
}

::-moz-selection {
  background: var(--black);
  color: white;
}

::-webkit-selection {
  background: var(--black);
  color: white;
}


:root {
  --black: #14110fff;
  --pink: #f5b0cbff;
  --accent: #01baefff;
  --papaya-whip: #fff1d0ff;
  --red: #dd1c1aff;
}

* {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", serif;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}
